<h1>初めまして！<%= @tentative_user.mail %>さん！</h1>
<p>仮登録ありがとうございます</p>
<p>下記のURLから本登録をお願いします。</p>
<p>URL:<%= link_to "#{File.join(users_new_url,@tentative_user.token)}",File.join(users_new_url,@tentative_user.token) %>
</p>